<div class="col-md-6 col-md-offset-3 forgotpwd">
    <h3 class="header1 text-center">Let’s find your account</h3><br>
    <div class="forgotpwd_bg">
             <form name="myForm" ng-submit="Uservalidate(employeeId)">
           <h4 class="text-center">Please enter your emailid</h4><br>
            <div class="text-center">
              <input type="email" class="form-control" ng-model="user.email" placeholder="Enter your mail" required/><br><br>
              </div>
           <center>
               <button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid">Submit</button>
               <button type="submit" class="btn btn-info" ui-sref="User_login">Cancel</button>
            </center>
        </form>
        <h4 ng-if="info" class="text-center">{{info}}</h4>
    </div>
</div>