<div class="col-md-4 col-md-offset-4 forgotpwd">
        <h3 class="header1 text-center">SET YOUR PASSWORD</h3><br><br>
        <form name="myForm" ng-submit="save()">
                <div class="form-group row">
                    <label class="control-label">Employee Id</label>
                        <input type="number" class="form-control" ng-model="user.employeeId" name="empid" placeholder="Enter Employeeid" min="1" ng-minlength='3' ng-maxlength="12" required>
                        <span style="color:red" ng-show="myForm.empid.$error.minlength">Employee Id is too short!</span>
                        <span style="color:red" ng-show="myForm.empid.$error.maxlength">Employee Id is too long!</span>
                </div>
                <div class="form-group row">
                    <label class="control-label" >Set Password</label>           
                      <input type="password" class="form-control" name="pwd" ng-model="user.password" ng-pattern= "/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/" required>
                    <div class="col-md-offset-4 col-xs-12 col-sm-6 col-md-6 col-lg-6">          
                        <span ng-show="myForm.pwd.$invalid && myForm.pwd.$touched ||myForm.pwd.$invalid && myForm.pwd.$dirty" style="color:red;">
                            <span ng-show="myForm.pwd.$error.required">Password is required </span>
                        </span>
                        <span ng-show="myForm.pwd.$error.pattern" style="color:red;">Password length must be 8 chars including 1UPPER/LOWER, 1special and 1 number  </span>
                    </div>
                  </div>
                <div class="form-group row">
                    <label class="control-label" >Confirm Password</label>      
                      <input type="password" class="form-control" name="cpwd" ng-model="user.cnfrmpwd" ng-pattern= "/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/" required> 
                    <span ng-show="password!=cnfrmpwd" style="color:red;"> <span ng-show="myForm.cpwd.$error.pattern" style="color:red;"></span>Passwords have to match!</span>  
                </div><br>
            <center><button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">Submit</button></center>
        </form>
    </div>
    