<div class="container ">
    <div id="login-box">
        <div>
            <img src="images/ojas-logo-cap.png" class="img img-responsive center-block" />
        </div>
        <!-- /.logo -->
        <div class="row home_inner">
            <div class="col-xs-6 text-center">
                <a ui-sref="Admin_login">
                    <img class="img-circle img-thumbnail img-responsive" src="images/admin.png" alt="admin" />
                </a>
                <h4 class="admin_caption">ADMIN LOGIN</h4>
            </div>
            <div class="col-xs-6 text-center">
                <a ui-sref="User_login">
                    <img class="img-circle img-thumbnail img-responsive" src="images/user.png" alt="user" />
                </a>
                <h4 class="text-primary">USER LOGIN</h4>
            </div>
        </div>
    </div>
    <!-- /#login-box -->
</div>
<div id="particles-js"></div>
