<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
<div class="container" id="content">
    <h3>Upload Photo</h3>
            <form name="myForm" role="form">
                <h4>image upload</h4>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                        <img ng-src="data:image/jpeg;base64,{{profile.picture}}" height="150px" class="mg-thumbnail img-responsive profilepic" id="controller">
                        <input type="file" id="uploadedimage" class="browse" file ng-model="picture" name="file-upload-field"  
                        ng-model-instant onchange="angular.element(this).scope().imageUploadFunc(event)"/>                  
                    </div>
                </div><br>
                <div class="btn-group" style="position: absolute;top: 120px;left: 800px;">
                    <button class="btn btn-info" ui-sref='User_home'>Back</button>
                    <button class="btn btn-info" ng-click="uploadPic()">Update</button>
                </div>
            </form>
    </div>
</div>