<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <div class="clearfix heading">
                <span class="pull-left"><h3>Inventories Details</h3></span>
                <span class="pull-right">
                        <!-- <strong>Search By:</strong><select class="searchparticular" ng-model="columns" ng-options="e for e in headers"></select> -->
                        <!-- <input type="text" class="no-print search_bar" ng-model="test[columns]" placeholder="Search..." />    -->
                        <input type="text" class="no-print search_bar" ng-model="test" placeholder="Search..." />
                </span>
        </div>      
        <div class="table-responsive">
                <table class="table table-condensed table-striped text-center">
                        <thead>
                                <tr>
                                        <th>S.No</th>
                                        <th>Device Brand</th>
                                        <th>Device Type</th>
                                        <th>Asset ID</th>
                                        <th>Serial Number</th>
                                        <th>Ownership</th>
                                        <th>Vendor Address</th>
                                        <th>Vendor Number</th>
                                        <th>Product Price</th>
                                        <th>Purchase Date</th>
                                        <th>Contract Period</th>
                                        <th class="no-print" colspan="2">Actions</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr ng-repeat="item in invent_data | filter:test">
                                        <td>{{$index+1}}</td>
                                        <td>{{item.brandName}}</td>
                                        <td>{{item.deviceName}}</td>
                                        <td>{{item.assetId}}</td>
                                        <td>{{item.serial_number}}</td>
                                        <td>{{item.vendorName || ojname}}</td>
                                        <td>{{item.address || ojaddress}}</td>
                                        <td>{{item.contact || ojnum}}</td>
                                        <td>{{item.product_price | currency:'&#8377;'}}</td>
                                        <td>{{item.purchase_date | date:'MM/dd/yyyy'}}</td>
                                        <td>{{item.contract_period}}</td>
                                        <td class="no-print text-center">
                                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-pencil" aria-hidden="true" 
                                        ui-sref="Admin_home.addinventoryedit({inventid:item.inventory_id})"></i>
                                        </button>
                                        </td>
                                        <td class="no-print">
                                        <button type="button" class="btn btn-sm btn-primary" ng-click="delete(item.inventory_id)"><i class="fa fa-trash"></i>
                                        </button>
                                        </td>
                                </tr>
                        </tbody>
                        <tfoot> 
                                <tr>
                                        <td colspan="13"><span class="form-group pull-left page-size form-inline"> 
                                                <select id="ddlPageSize" class="form-control control-color" ng-model="per_page"
                                                ng-change="changePageSize()"> 
                                                        <option value="5">5</option> 
                                                        <option value="10">10</option>
                                                        <option value="25">25</option> 
                                                        <option value="50">50</option>
                                                        <option value="75">75</option>
                                                        <option value="100">100</option>
                                                        <option value="200">200</option> 
                                                </select> 
                                                </span> 
                                                <div class="pull-right"> 
                                                        <pagination total-items="total_inventories" ng-change="pageChanged()" 
                                                                items-per-page="per_page" direction-links="true" 
                                                                ng-model="page" max-size="maxSize" class="pagination" 
                                                                boundary-links="true" rotate="false" num-pages="numPages">
                                                        </pagination> 
                                                        <a class="btn btn-primary">Page: {{page}} / {{numPages}}</a> 
                                                </div>
                                        </td>
                                </tr> 
                        </tfoot> 
                </table>
        </div>
</div>
