<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
    <div class="clearfix heading">
        <h3 class="pull-left">History of Books</h3>
        <input type="text" class="no-print search_bar pull-right" ng-model="searchTerm" placeholder="Search Book Details...!" /> 
    </div>
    <div class="table-responsive">
        <table class="table table-condensed table-striped text-center">
            <thead id="invent_col">
                <tr>
                    <th>S.No</th>
                    <th>Book Name</th>
                    <th>Book Author</th>
                    <th>Department</th>
                    <th>Requested Date</th>
                    <th>Assigned Date</th>
                    <th>Returned Date</th>
                    <th>Status</th>
                    <th>Duedate/Message</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in mybooks | filter:searchTerm">
                    <td>{{$index+1}}</td>
                    <td>{{item.book_name}}</td>
                    <td>{{item.book_author}}</td>
                    <td>{{item.department_name}}</td>
                    <td>{{item.requestedDate | date:"MM/dd/yyyy"}}</td>
                    <td>{{item.assignedDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{item.returnDate   | date:'MM/dd/yyyy'}}</td>
                    <td>
                        <a ng-show="item.status =='granted'" class="btn btn-xs btn-primary" disabled>Granted</a>
                        <a ng-show="item.status == 'requested'" class="btn btn-xs btn-warning" disabled>Requested</a>
                        <a ng-show="item.status =='declined'" class="btn btn-xs btn-danger" disabled>Declined</a>
                        <a ng-show="item.status =='returned'" class="btn btn-xs btn-success" data-toggle="modal" 
                        data-target="#myModalpop" id="return" ng-click="returnrate(item.allocation_id)">Returned</a>
                    </td>
                    <td>
                        <p ng-show="item.status =='granted'">{{item.dueDate}}</p>
                        <p ng-show="item.status =='declined'">{{item.message}}</p>
                    </td>
                </tr>
            </tbody>
            <tfoot class="no-print"> 
                    <tr><td colspan="13"><span class="form-group pull-left page-size form-inline"> 
                        <select id="ddlPageSize" class="form-control control-color" ng-model="per_page"
                            ng-change="changePageSize()"> 
                                <option value="5">5</option> 
                                <option value="10">10</option> 
                                <option value="25">25</option> 
                                <option value="50">50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                                <option value="200">200</option>  
                        </select> 
                        </span> 
                        <div class="pull-right"> 
                            <pagination total-items="total_books" ng-change="pageChanged()" 
                            items-per-page="per_page" direction-links="true" 
                            ng-model="page" max-size="maxSize" class="pagination" 
                            boundary-links="true" rotate="false" num-pages="numPages"></pagination> 
                                <a class="btn btn-primary">Page: {{page}} / {{numPages}}</a> 
                        </div></td>
                    </tr> 
                </tfoot>
        </table>
    </div>
        <div class="modal fade" id="myModalpop" role="dialog">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header dashboardmodel">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title reqstyle"><strong>Would You</strong></h5>
                    <h5 class="modal-title reqstyle request"><strong>Recommend Us ?</strong></h5>
                    </div>
                    <div class="modal-body">
                            <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalpop1">Yes</button></center><br>
                            <center><button type="button" class="btn btn-default" data-dismiss="modal">No,Thanks</button></center>
                    </div>
                </div>
                
                </div>
        </div>
        <div class="modal fade" id="myModalpop1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header dashboardmodel">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title reqstyle"><strong>Would You</strong></h5>
                    <h5 class="modal-title reqstyle request"><strong>Recommend Us ?</strong></h5>
                    </div>
                    <div class="modal-body">
                        <center> <ul class="rating">
                                    <li ng-repeat="x in [].constructor(maxRating) track by $index">
                                        <span ng-click="rateBy($index+1)" ng-show="ratedBy > $index" class="filled">&#9733;</span>
                                        <span ng-click="rateBy($index+1)" ng-show="ratedBy <= $index">&#9733;</span>
                                    </li>
                                </ul></center>
                    <p class="reqstyle reqstyle1"><strong>Loved it</strong></p>
                    </div>
                    <div class="modal-footer">
                    <center><button type="button" id="btnSubmit" class="btn btn-primary" ng-click="rateClick(item.rating)">SUBMIT</button></center>
                    </div>
                </div>
            
            </div>
        </div>
</div>
