<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
<div class="clearfix heading">
        <span class="pull-left"><h3>Books</h3></span>
        <span class="pull-right">
            <strong>Search By:</strong><select class="searchparticular" ng-model="columns" ng-options="e for e in headers"></select>
            <input type="text" class="no-print search_bar" ng-model="searchTerm[columns]" placeholder="Search..." />   
        </span>
    </div>  
<div class="table-responsive">
    <table class="table table-striped text-center table-condensed" id="user_table">
        <thead>

            <tr>
                <th class="text-center">S.No</th>
                <th>Book Name</th>
                <th>Book Author</th>
                <th>ISBN</th>
                <th>Rack Number</th>
                <th>Technology</th>
                <th>Price</th>
                <th>Quantity</th>
                <th class="no-print">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in book | filter:searchTerm">
                <td>{{$index+1}}</td>
                <td>{{item.book_name}}</td>
                <td>{{item.book_author}}</td>
                <td>{{item.ISBN}}</td>
                <td>{{item.rack_number}}</td>
                <td>{{item.department_name}}</td>
                <td>{{item.price | currency:'&#8377;'}}</td>
                <td>{{item.quantity}}</td>
                <td class="text-center no-print">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-pencil" aria-hidden="true" 
                         ui-sref="Admin_home.Addbook_Edit({bookid:item.book_id})" data-toggle="tooltip" title="Edit the book"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot class="no-print"> 
                <tr><td colspan="13"><span class="form-group pull-left page-size form-inline"> 
                    <select id="ddlPageSize" class="form-control control-color" ng-model="per_page"
                        ng-change="changePageSize()"> 
                            <option value="5">5</option> 
                            <option value="10">10</option> 
                            <option value="25">25</option> 
                            <option value="50">50</option>
                            <option value="75">75</option>
                            <option value="100">100</option>
                            <option value="200">200</option>  
                    </select> 
                    </span> 
                    <div class="pull-right"> 
                        <pagination total-items="total_books" ng-change="pageChanged()" 
                        items-per-page="per_page" direction-links="true" 
                        ng-model="page" max-size="maxSize" class="pagination" 
                        boundary-links="true" rotate="false" num-pages="numPages"></pagination> 
                            <a class="btn btn-primary">Page: {{page}} / {{numPages}}</a> 
                    </div></td>
                </tr> 
            </tfoot> 
    </table>
</div>
</div>
