<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10"> 
    <div class="clearfix heading">
        <span class="pull-left"><h3>Employee details</h3></span>
        <span class="pull-right">
            <!-- <strong>Search By:</strong><select class="searchparticular" ng-model="columns" ng-options="e for e in headers"></select> -->
            <!-- <input type="text" class="no-print search_bar" ng-model="searchTerm[columns]" placeholder="Search..." />    -->
            <input type="text" class="no-print search_bar form-control" ng-model="searchTerm" placeholder="Search..." />
        </span>
    </div>       
    <div class="table-responsive">
        <table class="table table-condensed table-striped text-center">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>EmployeeId</th>
                    <th>Employee Name</th>
                    <th>EmailId</th>
                    <th>Gender</th>
                    <th>JoiningDate</th>
                    <th>Role</th>
                    <th class="no-print">Relieve</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="role in employees_data| filter:searchTerm">
                    <td>{{$index+1}}</td>
                    <td>{{role.employeeId}}</td>
                    <td>{{role.employeeName}}</td>
                    <td>{{role.email}}</td>
                    <td>{{role.gender}}</td>
                    <td>{{role.joiningDate| date:'dd/MMMM/yyyy'}}</td>
                    <td>{{role.role_name}}</td>
                    <td><button type="button" class="btn btn-xs btn-warning"
                        ng-click="edit({roleId:role.employeeId})">Edit
                        </button></td>
                    <td class="no-print"><button type="button" class="btn btn-xs btn-warning"
                        ng-click="Relieve(role.employeeId)" data-toggle="tooltip" data-placement="top" title="Are you Relieving a employee">Relieve
                        </button></td>
                </tr>
            </tbody>
            <tfoot class="no-print"> 
                <tr><td colspan="13"><span class="form-group pull-left page-size form-inline"> 
                        <select id="ddlPageSize" class="form-control control-color" ng-model="per_page"
                            ng-change="changePageSize()"> 
                                <option value="5">5</option> 
                                <option value="10">10</option> 
                                <option value="25">25</option> 
                                <option value="50">50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                                <option value="200">200</option>  
                        </select> 
                        </span> 
                        <div class="pull-right"> 
                            <pagination total-items="total_employees" ng-change="pageChanged()" 
                            items-per-page="per_page" direction-links="true" 
                            ng-model="page" max-size="maxSize" class="pagination" 
                            boundary-links="true" rotate="false" num-pages="total_pages"></pagination> 
                            <a class="btn btn-primary">Page: {{page}} / {{total_pages}}</a> 
                        </div>
                    </td>
                </tr> 
            </tfoot> 
        </table>
    </div>
</div>